/*= require normalize */

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f4f7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.install-steps {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  -webkit-flex-flow: row;

  font-size: 16px;
  height: 1em;

  margin-bottom: 10px;
  margin-right: 2px;
}

.install-steps > * {
  position: relative;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  text-align: center;
}

.install-steps > * > span {
  position: relative;
  background-color: #f3f4f7;
  padding: 0 0.25em;
  z-index: 2;
}

.install-steps > *:before {
  display: block;
  position: absolute;
  top: 0.25em;
  left: 0;
  height: 0.25em;
  width: 100%;
  border: 1px solid #939599;
  background-color: #f3f4f7;
  border-radius: 0.25em;
  content: ' ';
  z-index: 1;
}

.install-steps > *:after {
  display: block;
  position: absolute;
  border: 1px solid #939599;
  top: -0.125em;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: #f3f4f7;
  content: ' ';
  z-index: 2;
}

.install-steps > *.complete:before {
  background-color: #08a14b;
}

.install-steps > *.active:after, .install-steps > *.complete:after {
  background-color: #08a14b;
}

.overlay {
  box-sizing: content-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  color: #272b34;
  font-size: 1rem;
  z-index: 9999;
}

  .overlay.hidden {
    display: none;
  }

  .overlay-top {
    box-sizing: content-box;
    position: relative;
    width: 699px;
    margin: 4% auto;
  }

  .overlay-content {
    box-sizing: content-box;
    position: relative;
    width: 699px;
    margin: 0 auto;
    margin-bottom: 4%;
    padding: 22.5px 30px;
    background-color: #F3F4F7;
    border-radius: 4px;
  }

    .overlay-close {
      box-sizing: content-box;
      position: absolute;
      top: 25.5px;
      right: 26px;
      cursor: pointer;
      z-index: 2000;
      padding: 0;
      color: #CED3E1;
      font-size: 4em;
      font-weight: 300;
      line-height: 1em;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
