package cli

import (
	"encoding/json"

	tufdata "github.com/flynn/go-tuf/data"
)

const rootKeysJSON = `{{TUF-ROOT-KEYS}}`

var rootKeys []*tufdata.Key

func init() {
	if err := json.Unmarshal([]byte(rootKeysJSON), &rootKeys); err != nil {
		panic("error decoding root keys")
	}
}
