package main

import "encoding/json"

func init() {
	updater = &Updater{
		repo: "{{TUF-REPO}}",
	}
	if err := json.Unmarshal([]byte(`{{TUF-ROOT-KEYS}}`), &updater.rootKeys); err != nil {
		panic("error decoding root keys")
	}
}
