@import "pygments";
@import "variables";
@import "fly";
@import "cupcake-icons";
@import "form";

// TODO: .brand should use Proxima Nova Regular font
table {
  font-size: .95rem;
  th, td {
    padding: .5rem;
    border: 1px solid $almostWhiteColor;
  }
  th {
    background-color: $dirtyWhiteColor;
    text-align: center;
    color: $grayColor;
    font-weight: 600
  }
}

pre {
  word-wrap: normal;
  overflow-x: auto;
  white-space: pre;
}

code {
  background-color: darken($lightColor, 6%);
  border: 1px solid darken($lightColor, 12%);
  border-radius: 2px;
  color: $paraTextColor;
  font-size: 0.75em;
  padding: 0.2em 0.5em;
}

#coming-soon-banner {
  background-color: $almostBlackColor;
  color: $dirtyWhiteColor;
  text-align: center;
  padding: 1em;
  line-height: 1.5em;
}

#intro {
  > p {
    line-height: 2em;
    max-width: 718px;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  padding-bottom: 2em;

  form {
    padding-top: 2em;
  }
}

#product-photo {
  text-align: center;
  img {
    margin-bottom: -220px;
    max-width: 90%;
  }
  padding-bottom: 220px;
  margin-bottom: 2em;
}

@media #{$smallBreakPoint} {
  #product-photo {
    display: none;
  }
}

li[class*="icn-"] {
  position: relative;
  margin-left: 0px;
  padding-left: 2.4em;
  &:before {
    position: absolute;
    left: 0px;
    font-size: 1.5em;
  }
}

.flynn {
  li[class*="icn-"]:before {
    color: $greenColor;
  }
}

#footer {
  margin-bottom: 4em;

  hr {
    width: 65%;
    margin-bottom: 6em;
  }
}

.logos {
  padding: 20px 0;
  background: #f3f3f3;

  .logos-wrapper {
    @include clearfix();
    width: 90%;
    margin: 0 auto;
  }

  li {
    display: inline-block;
    margin: 0 16px;

    a {
      display: block;
      height: 80px;
      opacity: 0.4;
      margin: 4px 6px;

      &:hover {
        opacity: 1;
      }

      img {
        height: 80px;
      }
    }
  }
}

@media #{$smallBreakPoint} {
  .logos {
    li a img {
      height: 60%;
    }
  }
}

.post {
  margin-top: 4em;
}

.hidden {
  display: none;
}

.alert {
  padding: 0.25em 0.75em;
  border: 0.1em solid darken($lightColor, 6%);
  border-radius: 0.25em;
  font-weight: 400;
  margin-top: 1em;

  &.error {
    color: darken($redColor, 6%);
    border-color: lighten($redColor, 30%);
    background-color: lighten($redColor, 40%);
  }

  &.info {
    color: darken($blueColor, 6%);
    border-color: lighten($blueColor, 30%);
    background-color: lighten($blueColor, 40%);
  }

  &.success {
    color: darken($greenColor, 6%);
    border-color: lighten($greenColor, 30%);
    background-color: lighten($greenColor, 40%);
  }
}

.list-block {
  list-style: none;
  padding: 0;
  > li {
    display: inline-block;
    margin-right: 0.5em;
    line-height: 1em;
    &:last-of-type {
      margin-right: 0;
    }

    color: $grayColor;
    font-weight: 600;
    font-size: 2em;

    border: 2px solid darken($lightColor, 20%);
    width: 150px;
    background-color: darken($lightColor, 6%);

    &:hover {
      background-color: darken($lightColor, 12%);
    }

    > a {
      display: block;
      padding: 1.845em 0px;
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

#footer {
  a {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  position: relative;

  .anchor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -12px;
    padding-right: 6px;
    padding-left: 12px;
    font-size: 16px;
    outline: 0;

    &:hover {
      text-decoration: none;
    }

    span {
      display: none;
    }
  }

  &:hover .anchor {
    padding-left: 0;

    span {
      display: inline-block;
    }
  }
}
