$greenColor: #1bb45e;
$blueColor: #3f7aef;
$redColor: #FF2626;
$almostWhiteColor: #cccccc;

$darkGreenColor: #1e8a4d;
$lightGreenColor: #ace1c3;

$fillNavInactiveColor: $lightGreenColor;
$darkColor: $greenColor;
$grayColor: #666666;

$btnBorderColor: #8ddaaf;
$btnFillColor: $darkGreenColor;

$hrColor: #d6d6d6;

$paraTextColor: #666666;

$primaryColor: $greenColor;

$almostBlackColor: #000;
$dirtyWhiteColor: #f2f2f2;
