<div id="coming-soon-banner">
  The first preview release of Flynn is now available. <a href="https://flynn.cupcake.io">Try it</a> or <a href="https://github.com/flynn/flynn">view the source</a> on Github.
</div>
