<div id="coming-soon-banner">
  The first beta of Flynn is now available. <a href="https://dashboard.flynn.io">Try it</a> or <a href="https://github.com/flynn/flynn">view the source</a> on GitHub.
</div>
