<footer id="footer">
  <div class="container-outer">
    &nbsp;
    <div class="container-inner">
      <hr />
      <div class="content">
        <span>
          Flynn is designed, built, and managed by Prime Directive, Inc.<br />
          © 2013-2014 Prime Directive, Inc.<br/>
          Flynn is a <a href="/docs/trademark-guidelines">trademark</a> of Prime Directive, Inc.
        </span>
        <nav class="nav-h pull-right">
          <ul>
            <li>
              <a href="/docs/trademark-guidelines">Trademark Guidelines</a>
            </li>

            <li>
              <a href="https://github.com/flynn/flynn">GitHub</a>
            </li>

            <li>
              <a href="irc://irc.freenode.net/flynn">IRC</a>
            </li>

            <li>
              <a href="mailto:flynn@librelist.com">Mailing list</a>
            </li>

            <li>
              <a href="mailto:contact@flynn.io">Contact</a>
            </li>

            <li>
              <a href="/blog">Blog</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    &nbsp;
  </div>
</footer>
