<form action="https://flynn.us7.list-manage.com/subscribe/post?u=9600741fc187618e1baa39a58&id=a2b322e5ab" method="post" target="_blank" novalidate>
  <h1>Mailing List</h1>
  <label>Email Address&nbsp;
    <input type="text" name="EMAIL" placeholder="you@example.com">
  </label>
  <button type="submit" class="btn btn-primary small" name="subscribe">Subscribe</button>
</form>
