---
title: Flynn - The product that ops provides to developers
layout: base
---

<div class="container-outer fill">
  &nbsp;
  <div class="container-inner centered-text" id="intro">
    <h1>The product that ops provides to developers</h1>
    <p>Ops should be a product team, not consultants. Flynn is the single platform that ops can provide to developers to power production, testing, and development, freeing developers to focus.</p>
    <a href="/docs" class="btn">Learn More</a> <a href="https://dashboard.flynn.io" class="btn fill">Try now</a>
  </div>
  &nbsp;
</div>

<div id="product-photo">
  <div class="container-outer fill">
    &nbsp;
    <div class="container-inner">
      <%= image_tag "dokku.gif" %>
    </div>
    &nbsp;
  </div>
</div>

<div class="container-outer">
  <div class="container-inner">
    <div class="content">
      <div class="centered-text">
<p>Flynn is a set of components for solving ops.</p>

<p>Flynn components are divided into two layers.</p>

<p><b>Layer 0</b> is a low-level resource framework including service discovery inspired by the <a href="http://eurosys2013.tudos.org/wp-content/uploads/2013/paper/Schwarzkopf.pdf">Google Omega</a> paper.</p>

<p><b>Layer 1</b> is a set of higher level components that makes it easy to deploy, maintain, and scale applications and databases.</p>

<p>Learn more about Flynn's <a href="https://flynn.io/docs/architecture">architecture</a></p>
      <br/><br/>

</div>
      <ul class="list-unstyled flynn">
        <li class="icn-list">
          <h2 class="h4">Easy deployment</h2>
          <p>Flynn lets you deploy apps with git push and Docker containers. Developers can deploy any app to any cluster in seconds.</p>
        </li>

        <li class="icn-money">
          <h2 class="h4">Run anything</h2>
          <p>Flynn goes beyond 12 factor apps. Run any Linux process written in any language or framework, even stateful apps on your own servers or any public cloud.</p>
        </li>

        <li class="icn-branch">
          <h2 class="h4">Painless scaling</h2>
          <p>Scaling or adding a new cluster is simple: just add more nodes. Everything is containerized; Flynn takes care of distributing work across the cluster.</p>
        </li>

        <li class="icn-plus-square">
          <h2 class="h4">Simple and composable</h2>
          <p>Flynn is 100% free and open source. Flynn works great out of the box, and since Flynn is modular and API-driven it's easy to modify and swap components to suit your needs.</p>
        </li>


      </ul>
    </div>
  </div>
</div>

<br /> <br /> <br /> <br />

<div class="container-outer">
  <div class="container-inner">
    <div class="content">
      <div class="centered-text">
        <%= partial :featured_logos %>
      </div>
    </div>
  </div>
</div>

<br /> <br /> <br /> <br />

<div class="container-outer">
  <div class="container-inner">
    <div class="content">
      <div class="centered-text">
          <form action="https://flynn.us7.list-manage.com/subscribe/post?u=9600741fc187618e1baa39a58&id=a2b322e5ab" method="post" target="_blank" novalidate>
             <input type="text" name="EMAIL" placeholder="you@example.com">
             <button type="submit" class="btn fill small" name="subscribe">Subscribe for Announcements</button>
           </form>
           <a href="mailto:flynn@librelist.com" class="btn">Development Mailing List</a>
      </div>
    </div>
  </div>
</div>
