<div id="coming-soon-banner">
  The first preview release of Flynn is now available. <a href="https://flynn.cupcake.io">Try it here</a>. Please also join us for a <a href="https://flynn-april-sf.eventbrite.com/">meetup</a> in San Francisco on Thursday.
</div>
