<footer id="footer">
  <div class="container-outer">
    &nbsp;
    <div class="container-inner">
      <hr />
      <div class="content">
        <span>
          Flynn is designed, built, and managed by <a href="https://cupcake.io">Cupcake</a>.<br />
          © 2013-2014 Apollic Software, LLC.<br/>
          Flynn is a trademark of Apollic Software, LLC.
        </span>
        <nav class="nav-h pull-right">
          <ul>
            <li>
              <a href="https://github.com/flynn">GitHub</a>
            </li>

            <li>
              <a href="irc://irc.freenode.net/flynn">IRC</a>
            </li>

            <li>
              <a href="mailto:contact@flynn.io">Contact</a>
            </li>

            <li>
              <a href="/blog">Blog</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    &nbsp;
  </div>
</footer>
