<div class="container-outer fill">
  &nbsp;
  <div class="container-inner top-bar">
    <div class="content">
      <a href="/" class="brand">Flynn</a>

      <nav class="content nav-h pull-right">
        <ul>
          <li class="<%= active_nav_class("/") %>">
            <a href="/">Hello</a>
          </li>

          <li class="<%= active_nav_class("/docs") %>">
            <a href="/docs">Docs</a>
          </li>

          <li class="<%= active_nav_class("/blog") %>">
            <a href="/blog">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  &nbsp;
</div>
