---
title: Flynn - The product that ops provides to developers
layout: base
---

<div class="container-outer fill">
  &nbsp;
  <div class="container-inner centered-text" id="intro">
    <h1>The product that ops provides to developers</h1>
    <p>Ops should be a product team, not consultants. Flynn is the single platform that ops can provide to developers to power development, testing, staging, and production including databases.</p>
    <a href="/docs" class="btn">Learn More</a> <a href="https://flynn.cupcake.io" class="btn fill">Try now</a>
    <form action="https://flynn.us7.list-manage.com/subscribe/post?u=9600741fc187618e1baa39a58&id=a2b322e5ab" method="post" target="_blank" novalidate>
      <input type="text" name="EMAIL" placeholder="you@example.com">
      <button type="submit" class="btn fill small" name="subscribe">Subscribe for Announcements</button>
    </form>
    <a href="mailto:flynn@librelist.com" class="btn">Development Mailing List</a>
  </div>
  &nbsp;
</div>

<div id="product-photo">
  <div class="container-outer fill">
    &nbsp;
    <div class="container-inner">
      <%= image_tag "flynn-thumb.png" %>
    </div>
    &nbsp;
  </div>
</div>

<div class="container-outer">
  <div class="container-inner">
    <div class="content">
      <div class="centered-text">
<p>Flynn is a next generation open source Platform as a Service built on a resource layer. Flynn is designed to simplify ops so developers can focus on their real jobs.</p>

<p>Flynn is designed to be able to run anything. Unlike most PaaSs Flynn can run stateful services as well as <a href="http://12factor.net/">12 factor</a> apps. This includes databases like Postgres, Redis, and MongoDB. Flynn is modular so users can easily modify, upgrade, and replace components.</p>

<p>Flynn components are divided into two layers.</p>

<p><b>Layer 0</b> is a low-level resource framework inspired by the <a href="http://eurosys2013.tudos.org/wp-content/uploads/2013/paper/Schwarzkopf.pdf">Google Omega</a> paper. Layer 0 also includes service discovery.</p>

<p><b>Layer 1</b> is a set of higher level components that makes it easy to deploy and maintain applications and databases.</p>

<p>Learn more about Flynn's <a href="https://flynn.io/docs/architecture">architecture</a></p>
      <br/><br/>

</div>
      <ul class="list-unstyled flynn">
        <li class="icn-list">
          <h2 class="h4">Easy deployment</h2>
          <p>Just git push. It's like having a private Heroku. Self-serve access for developers makes deploying internal services and one-off projects completely painless.</p>
        </li>

        <li class="icn-money">
          <h2 class="h4">Save time and money</h2>
          <p>Developers can spend more time developing and less doing ops. Ops can provide a single product instead of acting as consultants.</p>
        </li>

        <li class="icn-plus-square">
          <h2 class="h4">Simple and composable</h2>
          <p>Unlike existing open source PaaS products, Flynn focuses on providing a set of modular components that can be replaced and reused.</p>
        </li>

        <li class="icn-branch">
          <h2 class="h4">Painless scaling</h2>
          <p>Run anything on anything. Any Linux process on any hardware. Just add more nodes. Everything is containerized; Flynn takes care of distributing work across the cluster.</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<br /> <br /> <br /> <br />

<div class="container-outer">
  <div class="container-inner">
    <div class="content">
      <div class="centered-text">
        <%= partial :featured_logos %>
      </div>
    </div>
  </div>
</div>
